.hero-image {
  background-image: url("../../assets/banner-2.png");
  //background-color: #69b5d6;
  background-size: cover;
  background-position: center;
  background-repeat: inherit;
}

.text {
  color: white;
}
