.img-wrap {
  border-radius: 50%;
}

img {
  border-radius: 50%;
}

.list {
  margin-top: 5%;
}

.media-left:hover .img-wrap {
  background-color: #262626;
}

.media-left:hover img {
  opacity: 0.2;
}
