.App {
  background-image: url("./assets/trianglify-lowres-1.png");
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

.help{
  position: fixed;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
}

header {
  //padding: 2%;
  //position: fixed;
  //position: sticky;
}